$font-path = '../../assets/fonts/'

@font-face
  font-family 'Montserrat'
  src local('Montserrat Bold'), local('Montserrat-Bold'),
    url($font-path + 'Montserrat-Bold.woff2') format('woff2'),
    url($font-path + 'Montserrat-Bold.woff') format('woff'),
    url($font-path + 'Montserrat-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url($font-path + 'Montserrat-ExtraBold.woff2') format('woff2'),
    url($font-path + 'Montserrat-ExtraBold.woff') format('woff'),
    url($font-path + 'Montserrat-ExtraBold.ttf') format('truetype')
  font-weight bold
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat Light'), local('Montserrat-Light'),
    url($font-path + 'Montserrat-Light.woff2') format('woff2'),
    url($font-path + 'Montserrat-Light.woff') format('woff'),
    url($font-path + 'Montserrat-Light.ttf') format('truetype')
  font-weight 300
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url($font-path + 'Montserrat-SemiBold.woff2') format('woff2'),
    url($font-path + 'Montserrat-SemiBold.woff') format('woff'),
    url($font-path + 'Montserrat-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat Regular'), local('Montserrat-Regular'),
    url($font-path + 'Montserrat-Regular.woff2') format('woff2'),
    url($font-path + 'Montserrat-Regular.woff') format('woff'),
    url($font-path + 'Montserrat-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat Medium'), local('Montserrat-Medium'),
    url($font-path + 'Montserrat-Medium.woff2') format('woff2'),
    url($font-path + 'Montserrat-Medium.woff') format('woff'),
    url($font-path + 'Montserrat-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal
  font-display swap

