// Main colors
$cBaseText = #292F3C
$linkColor = #153092
$errorColor = #F51321
$skyColor = #E1E7F3
$bgDark = #1E293F
$lightBlue = #2094FF


// Selection
$selectionColorBG = blue
$selectionColorColor = white

// Sections
$sectionColorBlue = #153092
$sectionColorWhite = #FFFFFF
$sectionColorGray = #E1E7F3

// Scrollbar
$scrollbarThumbColor = purple
$scrollbarTrackColor = green

// Fonts
$fFamily = 'Montserrat'
