@import '../common/tools.styl'

.input
  &__group
    display flex
    flex-wrap wrap
    margin-bottom 2rem
    opacity 1
    transition-property opacity
    transition-duration 1s
    transition-timing-function ease-in-out

  &__subtitle
    font-weight 600
    margin-bottom 1rem


  &__wrapper
    display flex
    align-items center
    margin-right 50px
    margin-bottom 25px
    cursor pointer

  &__property
    width 20px
    margin-right 10px

  &__input
    padding 6px 14px
    border 1px solid rgb(131, 131, 131)
    border-radius 6px
    font-size 14px
    transition-property border-color
    transition-duration .3s
    transition-timing-function ease-in-out

    &:hover
    &:focus
      border-color lightblue
