.intro
  flexCenter()
  padding-top 20px
  margin-bottom 10rem

  &__wooz
    margin-bottom 2rem

  &__title
    font-weight bold
    text-align center
    margin-bottom 10rem

  &__persons
    width 70%
    flex 1 0 auto
    display flex
    justify-content space-between
    margin-bottom 6rem


.wooz
  &__minobr
    flexCenter()
    margin-bottom 1rem

    &--image
      width 100px
    &--name
      text-transform uppercase

  &__fgbou
    text-align center
  &__name
    font-weight bold
    text-align center
    margin-bottom 1rem
